body {
    font-family: Arial, sans-serif;
    background-image: url(https://static.vecteezy.com/system/resources/previews/006/413/047/non_2x/gradient-soft-beautiful-abstract-background-you-can-use-this-background-for-your-content-like-as-technology-video-gaming-promotion-card-banner-sports-education-presentation-website-anymore-vector.jpg);
    background-repeat: no-repeat;
    /* background-color: rgb(228, 232, 237); */
}

h3 {
    color: #333;
    font-size: 1.5em;
}
caption {
    font-size: 1.2em;
    margin-bottom: 10px;
}
h4 {
    color: #555;
    font-size: 1.2em;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }

  table, th, td {
    border: 1px solid #797171;
    padding: 8px;
}  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
