/* Resetting default margin and padding for better consistency */
body, h1, h2, h3, p, ul, ol, li, img, pre, a, iframe, video {
    margin: 0;
    padding: 0;
}
/* Applying CSS to navigation bar */
.navbar{
    margin : 13px 2px;
    border : 2px solid blueviolet;
    border-radius: 4px;
    text-decoration: none;
    background-color: #c0d6ef;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    margin : 13px 20px;
    font-size:large;
    list-style: none;
}
.navbar li a{
    padding: 1px 3px;
}

/* Applying styles to the body */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    background-color: #f5f5f5;
    color: #333;
    margin: 20px;
}

/* Styling the header */
header {
    background-color: #a6c2e1;
    padding: 10px;
    text-align: center;
    color: white;
}
/* #top{
    height: 50;
} */
/* Applying styles to headings */
h1, h2, h3, h4 {
    color: #007bff;
}

/* Styling the main content */
body > p, body > hr, body > pre, body > ul, body > ol, body > iframe, body > video {
    margin-bottom: 4px;
}

/* Applying styles to links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #333;
}
a:active{
    color: #e65ff3;
}
/* a:visited{
    color: #61199f;
} */

/* Styling the footer */
footer {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    background-color: #a6c2e1;
    color: white;
}
.btn{
    color: #007bff;
    background-color:#b3cae0;
    border-radius: 3px ;
    border: 1px solid rgb(118, 113, 173);
    font-weight: bold;
}
/* Adding some spacing and borders to images */
/* img {
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
} */

/* Styling the video */
video {
    /* padding:10px; */
    margin: 0px 0px 0px 125px; /* margin : top right bottom left*/
    border: 2px solid rgb(99, 129, 170);
    border-radius: 5px;
    /* width :"120"; */
}

/* Applying some styles to lists */
ul, ol {
    margin-left: 20px;
}
ul,ol li {
    margin-top: 3px;
}
span {
    color:#007bff;
}

/* Styling the iframe */
iframe {
   /* height: 315px; width :"760"; */
   border-radius: 5px;
   border: 2px solid;
}

/* Adding some spacing to the pre tag */
pre {
    margin-bottom: 0px;
}
